Repository HYF-Class23/group1-all-about-trees, pull requests merged in 2024-02, with the labels that each got.

#3 add project definition
  README.md
Labels: planning, md

#4 add constrains
  planning/constraints.md
Labels: constrains

#10 add a user Persona
  .cspell.json
  planning/user-personas.md
Labels: planning

#13 Development add footer : HTML
  .cspell.json
  index.html
  planning/img/ecologista.jpg
  planning/img/johnjardineiro.jpeg
  planning/img/logodogithub.png
  planning/img/logodoyoutube.jpg
  planning/img/logoinsta.jpg
  planning/img/logolinkedin.png
  planning/img/rostodemulher.jpg
  planning/user-personas.md
  styles/index.css
Labels: development, html

#14 Design
  planning/design.md
  planning/img/Untitled-2024-02-04-1511.png
Labels: md

#15 development add a footer : style
  package-lock.json
  styles/index.css
Labels: development, css

#19 updating photos
  planning/user-personas.md
Labels: planning

#21 addCss
  styles/index.css
Labels: development, css

#22 add backlog
  planning/backlog.md
Labels: planning, md

#24 addbody
  index.html
  planning/backlog.md
Labels: development, html

#25 Changes in the main README.md file
  README.md
  planning/All About TreesScr.png
Labels: md

#27 addCorrections
  index.html
  styles/index.css
Labels: html, css

#32 add retrospective
  planning/retrospective.md
Labels: planning, md

#34 corrections ReadMe
  README.md
  styles/index.css
Labels: readme
